@font-face {
    font-family: domain;
    src: url('./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    background-color: #222;
    overflow-x: hidden;
}
#main::-webkit-scrollbar {
    display: none;
}
#page1::-webkit-scrollbar {
    display: none;
}
#main::-webkit-scrollbar {
    display: none;
}
#page1{
    height: 140vh;
    width: 100vw;
    background-color: #C6BEB5;
    position: relative;
    overflow: hidden;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    padding: 4px 18px;

}
#nav h6 {
    font-size: 70px;
    font-family: canopee;
    position: absolute;
    font-weight: 100;
    left: 38%;
}
#nav h5{
    font-size: 3vw;
    font-weight: 100;
    width: 30%;
}
#nav i{
    font-size: 40px;
    font-weight: 100;
    text-align: right;
    width: 30%;
    display: none;
}
#elems{
    height:480px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
#elem1{
    width: 30%;
    height: 100%;    
}
#elem1 h4{
    font-size: 2vw;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    font-family: Canopee;
}
#elem1 span{
    background-color: orangered;
    color: #ffff;
    font-size: 2vw;
    padding: 4px;
    font-family: Canopee;
    border-radius: 5px;
    margin-left: 1.1vw;
}
#elem1 p{
    font-size: 1.2vw;
    font-family: domain;
    font-weight: 100;
    color: #656565;
}
#elem2{
    width: 25%;
    height: 100%;
    border-right:2px solid #595959;
    border-left: 2px solid #595959;
    padding: 1.2vw 60px;
    text-align: center;
}
#elem2 h2{
    font-family: Canopee;
    font-size: 4vw;
    font-weight: 100;
}
#elem2 h3{
    font-family: domain;
    font-size: 2.3vw;
    font-weight: 100;
    color: #2f2f2f;
    margin: 1.1vw 0;
}
#elem2 h6{
    font-family: domain;
    font-size: 1.2vw;
    font-weight: 100;
    color: #2f2f2f;
}

#elem3{
    width: 30%;
    height: 100%;
}
#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#elem3 h4{
    font-size: 2vw;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    font-family: Canopee;
}
#elem3 span{
    background-color: orangered;
    color: #ffff;
    font-size: 2vw;
    padding: 4px;
    font-family: Canopee;
    border-radius: 5px;
    margin-left: 1.1vw;
}
#elem3 p{
    font-size: 1.2vw;
    font-family: domain;
    font-weight: 100;
    color: #656565;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.3s;
}
#image-div:hover img{
    scale: 1.1;
}
#page1 h1{
    font-size: 29.5vw;
    font-family: Canopee;
    font-weight: 100;
    background-color: #1C1B19;
    color: #C6BEB5;
    line-height: 480px;
    text-align: center;
    /* padding: 40px 0px; */
    width: 96%;
    margin-left: 2%;
    letter-spacing: -25px;
}
#page2{
    height: 150vh;
    width: 100%;
    background-color: #C6BEB5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px;
}
#page2-left{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    padding-right: 50px;
    border-right: 1px solid #222;
}
#page2-left h2{
    font-size: 5vw;
    font-family: canopee;
    line-height: 7vw;
    font-weight: 100;
}
#page2-left h2 span{
    font-size: 8vw;
    font-weight: 800;

}
#page2-left p{
    font-size: 1.2vw;
    font-family: domain;
    color: #2f2f2f;
    font-weight: 100;
    
}
#page2-left p span{
    font-size: 5vw;
    font-family: domain;
    color: #1C1B19;
    /* background-color: #222; */
    font-family: canopee;
    line-height: 4.3vw;
    font-weight: 500;

}
#page2-left img{
    height: 50%;
    width: 100%;
    object-fit: cover;

}
#page2-right{
    height: 100%;
    width: 80%;
    padding: 0 60px;
}
#page2-right h1{
    font-family: canopee;
    font-size: 4vw;
    letter-spacing: 0px;
    font-weight: 100;
    line-height: 80px;
    
}
#page2-right img{
    height: 60%;
    width: 100%;
    object-fit: cover;
}
#page3{
    /* height: 55vh; */
    background-color: #C6BEB5;
    position: relative;
}
#page3 h1{
    font-size: 26vw;
    font-family: canopee;
    background-color: #1C1B19;
    color: #C4BCB3;
    width: fit-content;
    font-weight: 100;
    letter-spacing: -2px;
    margin-left: 2%;
    padding: 0 1.2vw;
    line-height: 26vw;

}
#page3 img{
    height: 26vw;
    position: absolute;
    top: 0;
    right: 2%;
    background-color: #1C1B19;
}
#page4{
    display: flex;
    align-items: center;
    height: 110vh;
    width: 100%;
    justify-content: space-between;
    background-color: #C4BCB3;
}
#page4-left{
    width: 65%;
    height: 100%;
    padding: 80px 60px;
}
#page4-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page4-right{
    width: 35%;
    height: 100%;
    padding: 80px 60px;
}
#page4-right h1{
    font-size: 3.5vw;
    font-family: canopee;
    letter-spacing: -2px;
    text-align: center;
    }
#page4-right p{
    font-size: 1.6vw;
    font-family: domain;
    font-weight: 100;
    color: #2f2f2f;
    line-height: 2vw;

}
#page4-right #anda{
    margin-top: 2vw;
    height: 16vw;
    border-radius: 50%;
    position: relative;
    background-color: #CAC1B6;
    width: 100%;
    border: 1px solid #2f2f2fbd;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
#anda h1{
    font-weight: 100;
    font-family: canopee;
    height: 100%;
    width: 100%;
    font-size: 5vw;
    display: flex;
    align-items: center;
    transform: translateX(-71%);
    transition: all ease 0.8s;
}
#anda img{
    height: 5vw;
    transform: translateX(-120%);
    transition: all ease 0.6s;
}
#anda:hover img{
    transform: translateX(45%);
}
#anda:hover h1{
    transform: translateX(130%);
}
#page5{
    width: 100%;
    background-color: #C6BEB5;
    padding: 4vw 1vw;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    border-bottom: 1px solid #1C1B19;
    border-bottom: 1px solid #1C1B19;
}
#page5::-webkit-scrollbar{
    display: none;
}
#page5 h1{
    font-size: 7vw;
    font-family: domain;
    font-weight: 100;
    display: inline-block;
    margin-right: 36px;
    animation-name: scroll;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#page5 span{
    font-size: 7vw;
    font-family: canopee;
    background-color: #1C1B19;
    color: #C6BEB5;
    font-weight: 100;
    padding: 0 12px;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 36px));
    }
}
#page5:hover h1{
    animation-play-state: paused;
}
#page6{
    width: 100%;
    background-color: #C6BEB5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page6 h1{
    font-size: 50px;
    text-align: center;
    font-family: canopee;

}
